/*INICIO ESTILOS HEADER*/
.imagen {
    max-width: 236.722px;
    max-height: 51.667px;
}
.botonHeader{
    color: #000000;
}
.menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #FF9966;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: bottom;
    transition: transform 0.2s ease-in-out;
}
.menu a:hover::before {
    transform: scaleX(.8);
    }
.menu a{ 
    justify-content: center;
    position: relative;
    display: block;
}
/*FIN ESTILOS HEADER*/

/*INICIO ESTILOS BODY*/
body {
    background-color: #E8E8E8;
}
.btn-nuevaEvaluacion {
    color: white;
    background-color: #3A9F88;
    border-radius: 30px;
    margin: 10px 0 5px 0;
}
#seccionDatosIniciales{
    background-color: #D0D0CE;
    border-color: #707070;
    border-style: solid;
    margin: 5px 0px 5px 0px;
    padding: 5px 0 0 0;
    border-width: 1px;
}
#seccionDatosIniciales div{
    padding: 2px 0 2px 12px;
}
.btniniciarEvaluacion{
    color: black;
    background-color: #EBC590;
    border-radius: 30px;
    margin: 10px 0 5px 0;
}
.rowBotonIniciarEvaluacion{
    text-align: right;
}
.inputRedondo{
    border-radius: 30px;
    border-width: 0PX;
    padding: 0 5px 0 15px;
}
#evaluacion{
    background-color: #D0D0CE;
    border-color: #707070;
    border-style: solid;
    margin: 5px 0px 5px 0px;
    border-width: 1px;
    padding-top: 5px;
}
#rowValorApartado{
    margin-top: 5px;
}
#pregunta{
    margin-top: 5px;
}
#trEmpleadoBuscado{
    border-width: 0px;
    
}
#tdEmpleadoBuscado{
    background-color: white;
    border-radius: 30px;
    border-width: 0px;
    padding: 0 0 0 10px;
    margin-left: 10px;
}

/*INICIO SECCION DE RESPUESTAS*/
#noAplica{
    background-color: #B6B3B8;
    margin: 5px 5px 5px 5px;
}
#noSatisfactorio{
    background-color: #B594CC;
    margin: 5px 5px 5px 5px;
    border-radius: 0%;
}
#regularmenteSatisfactorio{
    background-color: #E6B1A3;
    margin: 5px 5px 5px 5px;
}
#medianamenteSatisfactorio{
    background-color: #F1C5A4;
    margin: 5px 5px 5px 5px;
}
#satisfactorio{
    background-color: #E4E3C2;
    margin: 5px 5px 5px 5px;
}
#sobresaliente{
    background-color: #AFCCAA;
    margin: 5px 5px 5px 5px;
}
/*FIN SECCION DE RESPUESTAS*/


/*FIN ESTILOS BODY*/